/*
 * The syntax light mode typography colors
 */
/* light-scheme */
#markdown_content > * {
  margin-bottom: 1rem;
  font-weight: 400; }

#markdown_content ul, #markdown_content ol {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 1.5rem; }
  #markdown_content ul li, #markdown_content ol li {
    line-height: 1.5rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 0;
    margin-inline-end: 0; }
